/* contactTop------------------------------------------------ */
/* === ボタンを表示するエリア ============================== */
@media screen and (max-width: 800px) {
  .switchArea {
    line-height: 60px; /* 1行の高さ          */
    letter-spacing: 0; /* 文字間             */
    text-align: center; /* 文字位置は中央     */
    font-size: 27px; /* 文字サイズ         */

    position: relative; /* 親要素が基点       */
    margin: auto; /* 中央寄せ           */
    width: 170px; /* ボタンの横幅       */
    background: #fff; /* デフォルト背景色   */
  }

  /* === チェックボックス ==================================== */
  .switchArea input[type="checkbox"] {
    display: none; /* チェックボックス非表示 */
  }

  /* === チェックボックスのラベル（標準） ==================== */
  .switchArea label {
    display: block; /* ボックス要素に変更 */
    box-sizing: border-box; /* 枠線を含んだサイズ */
    height: 60px; /* ボタンの高さ       */
    border: 2px solid #990000; /* 未選択タブのの枠線 */
    border-radius: 30px; /* 角丸               */
    white-space: nowrap; /*画面サイズに合わせて改行*/
  }

  /* === チェックボックスのラベル（ONのとき） ================ */
  .switchArea input[type="checkbox"]:checked + label {
    border-color: #7f007f; /* 選択タブの枠線     */
  }

  /* === 表示する文字（標準） ================================ */
  .switchArea label span:after {
    content: "閲覧"; /* 表示する文字       */
    padding: 0 0 0 36px; /* 表示する位置       */
    color: #990000; /* 文字色             */
  }

  /* === 表示する文字（ONのとき） ============================ */
  .switchArea input[type="checkbox"]:checked + label span:after {
    content: "記入"; /* 表示する文字       */
    padding: 0 36px 0 0; /* 表示する位置       */
    color: #7f007f; /* 文字色             */
  }

  /* === 丸部分のSTYLE（標準） =============================== */
  .switchArea #swImg {
    position: absolute; /* 親要素からの相対位置*/
    width: 52px; /* 丸の横幅           */
    height: 52px; /* 丸の高さ           */
    background: #990000; /* カーソルタブの背景 */
    top: 4px; /* 親要素からの位置   */
    left: 4px; /* 親要素からの位置   */
    border-radius: 26px; /* 角丸               */
    transition: 0.2s; /* 滑らか変化         */
  }

  /* === 丸部分のSTYLE（ONのとき） =========================== */
  .switchArea input[type="checkbox"]:checked ~ #swImg {
    transform: translateX(110px); /* 丸も右へ移動       */
    background: #7f007f; /* カーソルタブの背景 */
  }

  #contactTop-main {
    float: right;
    width: 70%;
    overflow: hidden;
    padding-top: 30%;
  }

  #h2 {
    clear: both;
    font-size: 17px; /*文字サイズ*/
    text-align: left; /*テキストの位置*/
    margin-bottom: 15px;
    color: #fff; /*文字色*/
    padding: 8px 30px; /*上下、左右への余白*/
    background: #37a8e9; /*背景色（古いブラウザ用）*/
    border-radius: 30px; /*角丸のサイズ。大きめにしておけばOK。*/
  }

  #contact-main form {
    margin-left: auto;
    margin-right: auto;
  }
  .group {
    border-bottom: 4px solid #dedede;
  }

  /* セレクトボックス */
  .title {
    display: inline-block;
    font-size: 17px;
    margin-bottom: 10px;
  }

  .checkAll {
    display: inline-block;
    margin-bottom: 10px;
    color: #00abea;
  }

  .list {
    display: flex;
    list-style-type: none;
  }

  .item {
    margin-bottom: 20px;
  }
  .item:not(:last-child) {
    margin-right: 10px;
  }

  .label {
    cursor: pointer;
  }

  .text {
    font-weight: bold;
  }

  /* リストを二列で表示 */
  .list_item {
    float: left;
    width: 50%;
  }

  /* 検索窓 */
  .search_container {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #999;
    padding: 3px 10px;
    border-radius: 20px;
    width: 220px;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .search_container input[type="text"] {
    border: none;
    height: 2em;
    width: 195px;
  }
  .search_container input[type="text"]:focus {
    outline: 0;
  }
  .search_container input[type="submit"] {
    cursor: pointer;
    font-family: FontAwesome;
    border: none;
    border-radius: 20%;
    background: #3879d9;
    color: #fff;
    outline: none;
    width: 2em;
    height: 2em;
  }

  /* 画面幅800px以下の設定 */
  @media screen and (max-width: 800px) {
    /*mainコンテンツ*/
    #contactTop-main {
      float: none;
      width: auto;
    }

    /*main*/
    #contactTop-main {
      padding: 0 !important;
    }
  }
  .br {
    display: block;
  }
  /*画面幅480px以下の設定*/
  @media screen and (max-width: 480px) {
    /*メインコンテンツ*/
    .br {
      display: none;
    }
  }

  /* ------チェックボックスによる絞り込み----- */
  .is-hide {
    display: none; /*非表示*/
  }

  /* --------------------------------------------------------- */

  /* -----------blog.html-------------------*/
  .row {
  }
  .row h1 {
    padding: 0.4em 0.5em; /*文字の上下 左右の余白*/
    color: #494949; /*文字色*/
    background: #f4f4f4; /*背景色*/
    border-left: solid 5px #7db4e6; /*左線*/
    border-bottom: solid 3px #d7d7d7; /*下線*/
  }

  .blogBackground {
    background: #f8f8f8ea; /*背景色*/
  }

  .row p {
    font-size: 20px;
  }

  .row select {
    font-size: 20px;
    width: 80%;
    background: #ffffff; /*背景色*/
    border: 3px double #dadddd;
    border-radius: 15;
    margin-bottom: 20px;
  }

  .row button {
    margin-left: 18%;
    text-align: center;
    width: 150px;
    font-size: 25px;
    background-color: #22b5eb;
    color: #ffffff;
    border: 3px double rgb(196, 194, 194);
  }
  .row a {
    color: #ffffff;
    text-decoration: none;
  }

  .row h1 {
    padding: 0.4em 0.5em; /*文字の上下 左右の余白*/
    color: #494949; /*文字色*/
    background: #f4f4f4; /*背景色*/
    border-left: solid 5px #7db4e6; /*左線*/
    border-bottom: solid 3px #d7d7d7; /*下線*/
  }
  .blogBackground {
    background: #f8f8f8ea; /*背景色*/
  }

  .row p {
    font-size: 20px;
  }

  /* .row img {
  object-fit: cover;
} */
  #bgmain {
    display: inline-block;
    position: relative;
    /* overflow: scroll; */
    width: 100%; /*幅*/
    overflow: hidden;
  }

  #bgmain form {
    font-size: 20px;
    margin-bottom: 10px;
  }
  #bgmain input {
    font-size: 20px;
    width: 80%;
    height: 5%;
    margin-bottom: 10px;
    border: 2px double #a8a9aa;
  }

  #bgmain .remarksBox1 {
    width: 100%;
    height: 30%;
    overflow: hidden;
    vertical-align: top;
  }

  #bgmain select {
    font-size: 20px;
    background: #ffffff; /*背景色*/
    border: 3px solid #cbcecf;
    border-radius: 15;
    margin-bottom: 20px;
  }

  #bgmain .planlistAddButton {
    background-color: #3879d9;
    color: ffffff;
    width: 80px;
    height: 40px;
    text-align: center;
  }
  #bgmain a {
    margin-top: 50px;
    margin-left: 25%;
    margin-left: 25%;
    color: #ffffff;
    text-decoration: none;
    background-color: #22b5eb;
    text-align: center;
    display: inline-block;
    height: 35px;
    width: 90px;
    border: 3px double rgb(196, 194, 194);
  }

  /*==================================================
スライダーのためのcss
===================================*/
  .slider {
    /*横幅94%で左右に余白を持たせて中央寄せ*/
    width: 94%;
    margin: 0 auto;
  }

  .slider img {
    width: 300px; /*スライダー内の画像を横幅100%に*/
    height: 300px;
    object-fit: scale-down;
  }

  /*slickのJSで書かれるタグ内、スライド左右の余白調整*/

  .slider .slick-slide {
    margin: 0 10px;
  }

  /*矢印の設定*/

  /*戻る、次へ矢印の位置*/
  .slick-prev,
  .slick-next {
    position: absolute; /*絶対配置にする*/
    top: 42%;
    cursor: pointer; /*マウスカーソルを指マークに*/
    outline: none; /*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666; /*矢印の色*/
    border-right: 2px solid #666; /*矢印の色*/
    height: 15px;
    width: 15px;
  }

  .slick-prev {
    /*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
  }

  .slick-next {
    /*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
  }

  /*ドットナビゲーションの設定*/

  .slick-dots {
    text-align: center;
    margin: 20px 0 0 0;
  }

  .slick-dots li {
    display: inline-block;
    margin: 0 5px;
  }

  .slick-dots button {
    color: transparent;
    outline: none;
    width: 8px; /*ドットボタンのサイズ*/
    height: 8px; /*ドットボタンのサイズ*/
    display: block;
    border-radius: 50%;
    background: #ccc; /*ドットボタンの色*/
  }

  .slick-dots .slick-active button {
    background: #333; /*ドットボタンの現在地表示の色*/
  }

  .table {
    display: flex;
  }
  .table input {
    font-size: 20px;
    width: 100%;
    padding: 0.5em 1em;
    margin: 30px 0;
    border: double 5px #cad0d1d8;
  }
  .table textarea {
    resize: none;
    width: 100%;
    height: 250px;
    padding: 0.5em 1em;
    border: double 5px #cad0d1d8;
  }
  .table label {
  }

  form {
    width: 95%;
    padding: 5px 5px;
    margin: 5px;
    color: #5d627b;
    background: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.22);
    border-radius: 20px;
  }
  #focus {
    border: 3px solid #fef6fb;
    box-shadow: 0 0 10px 0 #d09b52;
    position: absolute;
    pointer-events: none;
    z-index: 5;
    border-radius: 10px;
    display: none;
  }

  input {
    border-radius: 10px;
    transition: 0.3s ease;
    color: #868283;
  }

  input[type="file"] {
  }

  .btnbtn-primary {
    font-size: 30px;
    width: 150px;
    color: rgba(255, 255, 255);
    background-color: #91d4fa;
    border: 2px ridge;
    border-color: rgba(230, 249, 252, 0.5);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.22);
    margin-top: 30px;
    margin-left: 40%;
  }
}
