@charset "utf-8";

/*PC用の設定以下487行目まで*/
@media screen and (min-width: 801px) {
  /*全体*/
  .wrapper {
    max-width: 600px;
    margin: 0 auto;
    color: #666;
  }
  /*planListdetail全体*/
  #planListDetailheader {
    text-align: center;
    font-size: 24px;
    width: auto;
  }
  .cal-wrap {
    position: relative;
    cursor: pointer;
    border: 2px solid skyblue;
    border-radius: 0.27em;
    font-family: cursive;
    background-color: #ffffff;
    font-size: 25px;
    /* z-index: ; */
  }
  .cal-wrap:before {
    content: "";
    background: "/static/images/calender2.png" no-repeat;
    background-size: contain;
    height: 22px;
    width: 22px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto;
    border: #168db8;
  }

  /*カレンダー*/
  #calendar {
    text-align: center;
    width: 100%;
  }
  table {
    outline: 2px solid #ddd;
    border-collapse: collapse;
    width: 100%;
  }
  th {
    color: #000;
  }
  th,
  .ta1 td {
    outline: 1px solid #ddd;
    text-align: center;
    height: 50px;
  }
  .ta1 td a {
    height: 50px;
    font-size: 30px;
    margin: auto;
    display: block;
    text-decoration: none;
  }
  /*日曜日*/
  .ta1 td:first-child a {
    color: #f59494e1;
    display: block;
    vertical-align: center;
  }
  /*土曜日*/
  .ta1 td:last-child a {
    display: block;
    color: #00aceaca;
    vertical-align: center;
  }

  /*前後月の日付*/
  .ta1 td.disabled {
    color: #ccc;
    font-size: 30px;
  }
  /*本日*/
  .ta1 td.today {
    display: block;
    background-color: #d65e72;
    color: #fff;
  }
  .ta1 td :hover {
    background-color: rgb(252, 193, 206);
  }

  /*ボタン*/
  #next-prev-button {
    position: relative;
  }
  #next-prev-button button {
    cursor: pointer;
    background: #f5961a;
    color: #fff;
    border: 1px solid #f5961a;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
  }
  #next-prev-button button:hover {
    background-color: #f5961a;
    border-color: #f5961a;
  }
  #prev {
    float: left;
  }
  #prevBottom {
    position: relative;
    left: 300px;
    top: 400px;
    z-index: 2;
  }
  #planlistDetailToday h2 {
    width: 100%;
    font-size: 20px;
    top: 500px;
    color: #ffffff;
    background-size: contain;
    background-color: skyblue;
    margin-left: 0;
    margin-right: 0;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    position: relative;
  }

  #next {
    float: right;
  }
  #nextBottom {
    position: absolute;
    right: 300px;
    top: 400px;
    z-index: 2;
  }

  /* 土曜日の色設定 */
  td.ui-datepicker-week-end:last-child a.ui-state-default {
    color: #00f !important; /* 文字色：青 */
  }
  /* 日曜日の色設定 */
  td.ui-datepicker-week-end:first-child a.ui-state-default {
    color: #f00 !important; /* 文字色：赤 */
  }

  .buttonImage {
    display: inline-block;
    margin-top: 2px;
    width: 16px;
    height: 16px;
  }

  .visiblity {
    visibility: hidden;
  }
  .flapbutton {
    border: 1px solid #3079ed;
    background-color: #4d90fe;
    width: 16px;
    height: 16px;
  }
  a img.arrow {
    width: 24px;
    height: 24px;
    display: inline-block;
    /* 位置合わせ用 */
    vertical-align: middle;
    margin: 0 10px 5px 0;
  }
  a span.arrow {
    width: 24px;
    height: 24px;
    background-image: url(calender.png);
    background-size: 24px 24px;
    display: inline-block;
    text-indent: -9999px;
    /* 位置合わせ用 */
    vertical-align: middle;
    margin: 0 10px 5px 0;
  }

  img.ui-datepicker-trigger {
    cursor: pointer;
    margin-left: 7px !important;
    vertical-align: middle;
  }

  .ta1 {
    width: 96%;
    background: rgba(
      255,
      255,
      255,
      0.8
    ); /*背景色。255,255,255は白の事で0.8は透明度80%の事。*/
    position: relative;
  }

  .planListDetailremarks {
    font-size: 30px;

    padding: 5px;
    margin-right: 900px;
    clear: both;

    background: #fff; /*背景色*/
    margin-right: 100px;
    margin-left: 100px;
    border: 1px solid #ccc; /*枠線の幅、線種、色*/
    border-radius: 50px; /*角丸のサイズ。大きめにしておけばOK。*/
    padding: 5px 5px 5px 5px;
    position: relative;
  }

  /* === ボタンを表示するエリア ============================== */
  .switchArea {
    line-height: 60px; /* 1行の高さ          */
    letter-spacing: 0; /* 文字間             */
    text-align: center; /* 文字位置は中央     */
    font-size: 27px; /* 文字サイズ         */

    position: relative; /* 親要素が基点       */
    margin: auto; /* 中央寄せ           */
    width: 219px; /* ボタンの横幅       */
    background: #fff; /* デフォルト背景色   */
  }

  /* === チェックボックス ==================================== */
  .switchArea input[type="checkbox"] {
    display: none; /* チェックボックス非表示 */
  }

  /* === チェックボックスのラベル（標準） ==================== */
  .switchArea label {
    display: block; /* ボックス要素に変更 */
    box-sizing: border-box; /* 枠線を含んだサイズ */
    height: 60px; /* ボタンの高さ       */
    border: 2px solid #990000; /* 未選択タブのの枠線 */
    border-radius: 30px; /* 角丸               */
  }

  /* === チェックボックスのラベル（ONのとき） ================ */
  .switchArea input[type="checkbox"]:checked + label {
    border-color: #7f007f; /* 選択タブの枠線     */
  }

  /* === 表示する文字（標準） ================================ */
  .switchArea label span:after {
    content: "閲覧"; /* 表示する文字       */
    padding: 0 0 0 36px; /* 表示する位置       */
    color: #990000; /* 文字色             */
  }

  /* === 表示する文字（ONのとき） ============================ */
  .switchArea input[type="checkbox"]:checked + label span:after {
    content: "記入"; /* 表示する文字       */
    padding: 0 36px 0 0; /* 表示する位置       */
    color: #7f007f; /* 文字色             */
  }

  /* === 丸部分のSTYLE（標準） =============================== */
  .switchArea #swImg {
    position: absolute; /* 親要素からの相対位置*/
    width: 52px; /* 丸の横幅           */
    height: 52px; /* 丸の高さ           */
    background: #990000; /* カーソルタブの背景 */
    top: 4px; /* 親要素からの位置   */
    left: 4px; /* 親要素からの位置   */
    border-radius: 26px; /* 角丸               */
    transition: 0.2s; /* 滑らか変化         */
  }

  /* === 丸部分のSTYLE（ONのとき） =========================== */
  .switchArea input[type="checkbox"]:checked ~ #swImg {
    transform: translateX(159px); /* 丸も右へ移動       */
    background: #7f007f; /* カーソルタブの背景 */
  }

  #classSelectBox {
    position: relative;
    text-align: center;
  }

  #planAdd {
    position: relative;
  }
  .planAddButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em 2em;
    width: 300px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    background-color: #cccccc;
    transition: 0.3s;
  }

  .button01 a::after {
    content: "";
    width: 5px;
    height: 5px;
    border-top: 3px solid #333333;
    border-right: 3px solid #333333;
    transform: rotate(45deg);
  }

  .button01 a:hover {
    text-decoration: none;
    background-color: coral;
  }

  .app_checkbox input[type="checkbox"] {
    display: none;
  }
  .app_checkbox input[type="checkbox"] + label {
    cursor: pointer;
    display: inline-block;
    box-sizing: content-box;
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 30px;
  }
  .app_checkbox input[type="checkbox"]:checked + label {
    background-color: #78d376;
    border-color: #78d376;
  }
  .app_checkbox input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 30px; /* widthと同じ 上のラベルの高さに揃える */
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 2px 2px 4px gray;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .app_checkbox input[type="checkbox"]:checked + label:before {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    box-shadow: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #plmain {
    /* height: 100%; */
    position: relative;
    /* overflow: scroll; */
    float: right; /*右側に回り込み*/
    width: 70%; /*幅*/
    /* overflow: hidden; */
    padding-top: 25%; /*コンテンツ上にあける余白*/
  }

  /*#plmain h2 {
    clear: both;
    font-size: 17px; /*文字サイズ
    text-align: left; /*テキストの位置
    margin-bottom: 15px;
    color: #fff; /*文字色
    padding: 8px 30px; /*上下、左右への余白
    background: #37a8e9; /*背景色（古いブラウザ用）
    border-radius: 30px;
  } */
  #plmain form {
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: auto;
  }

  /*planListDetail画面*~390/
/*日付入力欄(target)とカレンダーアイコンに参照させるためのクラス*/
  .planlistDetailCenter {
    vertical-align: center;
    position: relative;
  }
  .planlistDetailCenter select {
    font-size: 20px;
    border: 2px solid skyblue;
    border-radius: 3px;
  }
  /* #from1 {
    font-size: 20px;
    width: 300px;
    border: 2px solid skyblue;
    border-radius: 3px;
    margin-bottom: 40px;
  }

  #to1 {
    font-size: 20px;
    width: 300px;
    border: 2px solid skyblue;
    border-radius: 3px;
    margin-bottom: 40px;
  } */
  /*planListDetail画面の今日の行事名表示のためのID*/
  #planListDetailCaption h2 {
    width: 12%;
    position: relative;
  }

  #planListDetailCaption h3 {
    width: 5%;
    position: relative;
  }
  #planListDetailCaption ul {
    list-style-type: disc;
    margin-left: 24px; /* リストの左側に余白 */
    text-align: left;
    font-size: 20px;
  }

  /*planListDetail画面の備考欄のためのクラス*/
  .remarksBox2 {
    content: attr(data-en);
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    font-size: 20px;
    color: #0c192b; /*文字色*/
    background: #fff;
    border: solid 3px #2a3c53; /*線*/
    border-radius: 10px; /*角の丸み*/
    position: relative;
    overflow-wrap: break-word;
    word-wrap: break-all;
  }

  .remarksBox2 p {
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
    word-wrap: break-all;
  }
  /*planListDetail画面終了*/

  /* checkboxのCSS */
  .title {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .checkAll {
    display: inline-block;
    margin-bottom: 10px;
    color: #00abea;
  }

  .list {
    display: flex;
    list-style-type: none;
  }

  .item {
    margin-bottom: 20px;
  }
  .item:not(:last-child) {
    margin-right: 20px;
  }

  .label {
    cursor: pointer;
  }

  .text {
    font-weight: bold;
  }

  .remarksBox1 {
    resize: none;
    font-size: 20px;
    border-color: skyblue;
    border: 5px solid skyblue; /* 枠線 */
    border-radius: 0.67em; /* 角丸 */
  }

  /*日付入力欄のCSS*/
  #target {
    font-size: 20px;
    border: none; /* 枠線 */
    border-radius: 0.27em; /* 角丸 */
    font-family: cursive; /*フォント指定(いじるかもしれない)*/
    background-color: rgba(0, 0, 0, 0);
  }
  #float {
    float: left;
  }
  .underline {
    padding: auto;
    border-bottom: 1px solid red;
  }
  .planListAddInputBox {
    font-size: 20px;
    border-color: skyblue;
    border: 5px solid skyblue; /* 枠線 */
    border-radius: 0.67em; /* 角丸 */
  }

  .planNameStyle {
    font-size: 20px;
  }

  .planlistAddButton {
    font-size: 15px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8; /*ボタン色*/
    color: #fff;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }

  .planAddButton:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(8px); /*下に動く*/
    border-bottom: none; /*線を消す*/
  }

  /*planListUpdateの逆三角形クラス*/
  .planListUpdateReverseTryungle {
    font-size: 40px;
    width: left 40%;
    margin-bottom: 20px;
    color: #00abea;
  }
}

/*スマホ・タブレット用の設定以下972行目まで*/
@media screen and (max-width: 800px) {
  .wrapper {
    max-width: 600px;
    margin: 0 auto;
    color: #666;
  }
  /*planListdetail全体*/
  #planListDetailheader {
    text-align: center;
    font-size: 24px;
    width: auto;
  }

  /*カレンダー*/
  #calendar {
    text-align: center;
    width: 100%;
  }
  table {
    outline: 2px solid #ddd;
    border-collapse: collapse;
    width: 100%;
  }
  th {
    color: #000;
  }
  th,
  td {
    outline: 1px solid #ddd;

    text-align: center;
  }
  /*日曜日*/
  td:first-child {
    color: red;
  }
  /*土曜日*/
  td:last-child {
    color: blue;
  }

  /*前後月の日付*/
  td.disabled {
    color: #ccc;
  }
  /*本日*/
  td.today {
    background-color: #d65e72;
    color: #fff;
  }

  /*ボタン*/
  #next-prev-button {
    position: relative;
  }
  #next-prev-button button {
    cursor: pointer;
    background: #b78d4a;
    color: #fff;
    border: 1px solid #b78d4a;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
  }
  #next-prev-button button:hover {
    background-color: #d4bb92;
    border-color: #d4bb92;
  }
  #prev {
    float: left;
  }
  #prevBottom {
    position: relative;
    left: 300px;
    top: 400px;
    z-index: 2;
  }
  #planlistDetailToday h2 {
    width: 100%;
    font-size: 20px;
    top: 500px;
    color: #ffffff;
    background-size: contain;
    background-color: skyblue;
    margin-left: 0;
    margin-right: 0;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    position: relative;
  }

  #next {
    float: right;
  }
  #nextBottom {
    position: absolute;
    right: 300px;
    top: 400px;
    z-index: 2;
  }

  /* 土曜日の色設定 */
  td.ui-datepicker-week-end:last-child a.ui-state-default {
    color: #00f !important; /* 文字色：青 */
  }
  /* 日曜日の色設定 */
  td.ui-datepicker-week-end:first-child a.ui-state-default {
    color: #f00 !important; /* 文字色：赤 */
  }

  .buttonImage {
    display: inline-block;
    margin-top: 2px;
    width: 16px;
    height: 16px;
  }

  .visiblity {
    visibility: hidden;
  }
  .flapbutton {
    border: 1px solid #3079ed;
    background-color: #4d90fe;
    width: 16px;
    height: 16px;
  }
  a img.arrow {
    width: 24px;
    height: 24px;
    display: inline-block;
    /* 位置合わせ用 */
    vertical-align: middle;
    margin: 0 10px 5px 0;
  }
  a span.arrow {
    width: 24px;
    height: 24px;
    background-image: url(calender.png);
    background-size: 24px 24px;
    display: inline-block;
    text-indent: -9999px;
    /* 位置合わせ用 */
    vertical-align: middle;
    margin: 0 10px 5px 0;
  }

  img.ui-datepicker-trigger {
    cursor: pointer;
    margin-left: 7px !important;
    vertical-align: middle;
  }

  .ta1 {
    width: 96%;
    margin: 0;
    margin-bottom: 15px;
    background: #fff; /*背景色（古いブラウザ用）*/
    background: rgba(
      255,
      255,
      255,
      0.8
    ); /*背景色。255,255,255は白の事で0.8は透明度80%の事。*/
    position: relative;
  }

  .planListDetailremarks {
    font-size: 30px;

    padding: 5px;
    margin-right: 900px;
    clear: both;

    background: #fff; /*背景色*/
    margin-right: 100px;
    margin-left: 100px;
    border: 1px solid #ccc; /*枠線の幅、線種、色*/
    border-radius: 50px; /*角丸のサイズ。大きめにしておけばOK。*/
    padding: 5px 5px 5px 5px;
    position: relative;
  }

  /* === ボタンを表示するエリア ============================== */
  .switchArea {
    line-height: 60px; /* 1行の高さ          */
    letter-spacing: 0; /* 文字間             */
    text-align: center; /* 文字位置は中央     */
    font-size: 27px; /* 文字サイズ         */

    position: relative; /* 親要素が基点       */
    margin: auto; /* 中央寄せ           */
    width: 219px; /* ボタンの横幅       */
    background: #fff; /* デフォルト背景色   */
  }

  /* === チェックボックス ==================================== */
  .switchArea input[type="checkbox"] {
    display: none; /* チェックボックス非表示 */
  }

  /* === チェックボックスのラベル（標準） ==================== */
  .switchArea label {
    display: block; /* ボックス要素に変更 */
    box-sizing: border-box; /* 枠線を含んだサイズ */
    height: 60px; /* ボタンの高さ       */
    border: 2px solid #990000; /* 未選択タブのの枠線 */
    border-radius: 30px; /* 角丸               */
  }

  /* === チェックボックスのラベル（ONのとき） ================ */
  .switchArea input[type="checkbox"]:checked + label {
    border-color: #7f007f; /* 選択タブの枠線     */
  }

  /* === 表示する文字（標準） ================================ */
  .switchArea label span:after {
    content: "閲覧"; /* 表示する文字       */
    padding: 0 0 0 36px; /* 表示する位置       */
    color: #990000; /* 文字色             */
  }

  /* === 表示する文字（ONのとき） ============================ */
  .switchArea input[type="checkbox"]:checked + label span:after {
    content: "記入"; /* 表示する文字       */
    padding: 0 36px 0 0; /* 表示する位置       */
    color: #7f007f; /* 文字色             */
  }

  /* === 丸部分のSTYLE（標準） =============================== */
  .switchArea #swImg {
    position: absolute; /* 親要素からの相対位置*/
    width: 52px; /* 丸の横幅           */
    height: 52px; /* 丸の高さ           */
    background: #990000; /* カーソルタブの背景 */
    top: 4px; /* 親要素からの位置   */
    left: 4px; /* 親要素からの位置   */
    border-radius: 26px; /* 角丸               */
    transition: 0.2s; /* 滑らか変化         */
  }

  /* === 丸部分のSTYLE（ONのとき） =========================== */
  .switchArea input[type="checkbox"]:checked ~ #swImg {
    transform: translateX(159px); /* 丸も右へ移動       */
    background: #7f007f; /* カーソルタブの背景 */
  }

  #classSelectBox {
    position: relative;
    text-align: center;
  }

  #planAdd {
    position: relative;
  }
  .planAddButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em 2em;
    width: 300px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    background-color: #cccccc;
    transition: 0.3s;
  }

  .button01 a::after {
    content: "";
    width: 5px;
    height: 5px;
    border-top: 3px solid #333333;
    border-right: 3px solid #333333;
    transform: rotate(45deg);
  }

  .button01 a:hover {
    text-decoration: none;
    background-color: coral;
  }

  .app_checkbox input[type="checkbox"] {
    display: none;
  }
  .app_checkbox input[type="checkbox"] + label {
    cursor: pointer;
    display: inline-block;
    box-sizing: content-box;
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 30px;
  }
  .app_checkbox input[type="checkbox"]:checked + label {
    background-color: #78d376;
    border-color: #78d376;
  }
  .app_checkbox input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 30px; /* widthと同じ 上のラベルの高さに揃える */
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 2px 2px 4px gray;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .app_checkbox input[type="checkbox"]:checked + label:before {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    box-shadow: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .test {
  }

  #plmain {
    /* width: 100%; */
    /* overflow: scroll; */
    position: relative;
    box-sizing: border-box;
    /* height: 100%; */
    float: none;
    width: auto;
  }
  #plmain h2 {
    font-size: 30px;
    text-align: center;
    float: none;
    width: auto;
  }
  #plmain form {
    float: none;
    width: auto;
  }
  #disp {
    display: none;
  }

  /*planListDetail画面*~390/
/*日付入力欄(target)とカレンダーアイコンに参照させるためのクラス*/
  .planlistDetailCenter {
    vertical-align: center;
    top: 20px;
    position: relative;
    /* height: 30px; */
    /* text-align: center; */
  }
  .planlistDetailCenter select {
    font-size: 20px;
    width: auto;
    border: 2px solid skyblue;
    border-radius: 3px;
    /* margin-bottom: 20px; */
  }
  #from1 {
    font-size: 20px;
    width: 300px;
    border: 2px solid skyblue;
    border-radius: 3px;
    margin-bottom: 40px;
  }

  #to1 {
    font-size: 20px;
    width: 300px;
    border: 2px solid skyblue;
    border-radius: 3px;
    margin-bottom: 40px;
  }
  /*planListDetail画面の今日の行事名表示のためのID*/
  #planListDetailCaption h2 {
    position: relative;
  }

  #planListDetailCaption h3 {
    position: relative;
  }
  #planListDetailCaption ul {
    text-align: center;
    list-style-type: disc;
    margin-left: 24px; /* リストの左側に余白 */
    font-size: 20px;
    list-style-position: inside;
  }

  /*planListDetail画面の備考欄のためのクラス*/
  .remarksBox2 {
    content: attr(data-en);
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    font-size: 20px;
    color: #0c192b; /*文字色*/
    background: #fff;
    border: solid 3px #2a3c53; /*線*/
    border-radius: 10px; /*角の丸み*/
    position: relative;
    overflow-wrap: break-word;
    word-wrap: break-all;
  }

  .remarksBox2 p {
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
    word-wrap: break-all;
  }
  /*planListDetail画面終了*/

  /* checkboxのCSS */
  .group {
    width: 100%;
  }

  .title {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .checkAll {
    display: inline-block;
    margin-bottom: 10px;
    color: #00abea;
  }

  .list {
    display: flex;
    list-style-type: none;
  }

  .item {
    margin-bottom: 20px;
  }
  .item:not(:last-child) {
    margin-right: 20px;
  }

  .label {
    cursor: pointer;
  }

  .text {
    font-weight: bold;
  }

  .remarksBox1 {
    width: 100%;
    resize: none;
    font-size: 20px;
    border-color: skyblue;
    border: 5px solid skyblue; /* 枠線 */
    border-radius: 0.67em; /* 角丸 */
  }

  /*日付入力欄のCSS*/
  #target {
    font-size: 20px;
    border-color: skyblue;
    border: 2px solid skyblue; /* 枠線 */
    border-radius: 0.27em; /* 角丸 */
    font-family: cursive; /*フォント指定(いじるかもしれない)*/
    margin-bottom: 20px;
  }

  .underline {
    padding: auto;
    border-bottom: 1px solid red;
  }
  .planListAddInputBox {
    font-size: 20px;
    border-color: skyblue;
    border: 5px solid skyblue; /* 枠線 */
    border-radius: 0.67em; /* 角丸 */
  }

  .planNameStyle {
    font-size: 20px;
  }

  .planlistAddButton {
    font-size: 15px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8; /*ボタン色*/
    color: #fff;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  .planAddButton:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(8px); /*下に動く*/
    border-bottom: none; /*線を消す*/
  }

  /*planListUpdateの逆三角形クラス*/
  .planListUpdateReverseTryungle {
    font-size: 40px;
    width: left 40%;
    margin-bottom: 10px;
    color: #00abea;
    text-align: center;
  }
  .heading07 {
    position: relative;
    word-wrap: break-all;
    overflow-wrap: break-word;
    padding-top: 50px;
    padding-left: 30px;
    font-size: 26px;
  }

  .heading07 span {
    position: relative;
    overflow-wrap: break-word;
    word-wrap: break-all;
    z-index: 2;
  }

  .heading07::before {
    content: attr(data-en);
    position: absolute;
    overflow-wrap: break-word;
    word-wrap: break-all;
    transform: rotate(-5deg);
    top: -20px;
    left: 0;
    color: rgba(224, 66, 114, 0.6);
    font-size: 80px;
    font-weight: 400;
    font-family: luxus-brut, cursive;
    font-style: italic;
    opacity: 0.3;
  }
  .pagination li {
    display: none;
  }

  .pagination li.pre,
  .pagination li.next {
    display: inline-block;
    width: 40%;
    height: 50px;
    text-align: center;
  }

  .pagination li.pre a,
  .pagination li.next a {
    width: 100%;
    text-align: center;
  }

  .pagination li.pre span::after {
    content: "　前の10件へ";
  }

  .pagination li.next span::before {
    content: "次の10件へ　";
  }
}

#contact-detail-main {
  position: relative;
  float: right; /*contact-detail-main右側に回り込み*/
  width: 70%; /*幅*/
  overflow: hidden;
  padding-top: 30%; /*コンテンツ上にあける余白*/
  text-align: center;
}
#contact-detail-main h2 {
  font-size: 30px;
  text-align: center;
}
#contact-date {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.heading07 {
  position: relative;
  word-wrap: break-all;
  overflow-wrap: break-word;
  padding-top: 50px;
  padding-left: 30px;
  font-size: 26px;
}

.heading07 span {
  position: relative;
  overflow-wrap: break-word;
  word-wrap: break-all;
  z-index: 2;
}

.heading07::before {
  content: attr(data-en);
  position: absolute;
  overflow-wrap: break-word;
  word-wrap: break-all;
  transform: rotate(-5deg);
  top: -20px;
  left: 0;
  color: rgba(224, 66, 114, 0.6);
  font-size: 80px;
  font-weight: 400;
  font-family: luxus-brut, cursive;
  font-style: italic;
  opacity: 0.3;
}

.pagination ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

.pagination li {
  display: inline;
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  background: #3683a1d7;
  width: 50px;
  height: 50px;
  text-align: center;
  position: relative;
}

.pagination li a {
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  color: #fff;
  text-decoration: none;
  font-size: 30px;
}

.pagination li a span {
  display: table-cell;
  vertical-align: middle;
}

.pagination li a:hover,
.pagination li a.active {
  color: #000;
  background: rgb(208, 240, 250);
}

.nonPlan {
  font-size: 20px;
}
