/*login画面
---------------------------------------------------------------------------*/
body {
  margin: 0;
}
#top-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/login.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  filter: blur(2px);
  background-attachment: fixed;
}
#login-main,
#login-footer {
  position: relative;
  margin: auto;
  text-align: center;
}
#login-main {
  top: 80px;
  width: 400px;
  height: 70%;
  margin-bottom: 180px;
  background-color: rgba(240, 248, 255, 0.586);
}
#login-footer {
  width: 328px;
  height: 20px;
}
#login-logo img {
  margin-top: 20px;
  margin-bottom: 5%;
  width: 30%;
}

/* ボタン設定 */
a.btn-border {
  position: relative;
  top: 10;
  border-radius: 0;
  font-size: 15px;
  text-decoration: none;
  color: #000;
}
a.btn-border:before,
a.btn-border:after {
  position: absolute;
  width: 100%;
  height: 2px;
  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #000;
}
a.btn-border:before {
  left: 0;
}
a.btn-border:after {
  right: 0;
  bottom: 0;
}
a.btn-border:hover:before,
a.btn-border:hover:after {
  width: 0;
}
/*login画面
---------------------------------------------------------------------------*/

/*tagScan画面
---------------------------------------------------------------------------*/
#tag-main {
  position: relative;
  margin: auto;
  text-align: center;
}
#tag-main h1 {
  display: inline-block;
  width: 220px;
  clear: both;
  font-size: 17px; /*文字サイズ*/
  margin-bottom: 15px;
  color: #fff; /*文字色*/
  padding: 8px 30px; /*上下、左右への余白*/
  background: #37a8e9; /*背景色（古いブラウザ用）*/
  border-radius: 30px; /*角丸のサイズ。大きめにしておけばOK。*/
}

.select-mode input {
  display: none;
}
.select-mode input[type="radio"]:checked.go-school + label {
  color: #3275bc;
  border: 2px solid #3275bc;
  background-color: #d0e6fd;
}
.select-mode input[type="radio"]:checked.go-home + label {
  color: #000;
  border: 2px solid #000;
  background-color: #eaeaea;
}
.select-mode label {
  color: #ddd;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  text-align: center;
  display: inline-block;
  padding: 5px 0px;
  width: 120px;
}
.select-mode label:hover {
  color: #aaa;
  border: 2px solid #aaa;
  cursor: pointer;
}
/* タッチ画面 */
.touchbox {
  top: 20;
  border: 2px solid black;
  margin: 20px auto;
  padding: 15px;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  border-radius: 10px; /* 角を丸くする */
  justify-content: center;
}
.touchbox p {
  margin: 0;
}
/*tagScan画面
---------------------------------------------------------------------------*/

/*attend画面
---------------------------------------------------------------------------*/
#attend-main {
  float: right; /*右側に回り込み*/
  width: 70%; /*幅*/
  overflow: hidden;
  padding-top: 30%; /*コンテンツ上にあける余白*/
}
#attend-main h2 {
  /* font-size: 30px;
  text-align: center; */
  clear: both;
  font-size: 17px; /*文字サイズ*/
  text-align: left; /*テキストの位置*/
  margin-bottom: 15px;
  color: #fff; /*文字色*/
  padding: 8px 30px; /*上下、左右への余白*/
  background: #37a8e9; /*背景色（古いブラウザ用）*/
  border-radius: 30px; /*角丸のサイズ。大きめにしておけばOK。*/
}
#attend-main form {
  margin-left: auto;
  margin-right: auto;
}
.group {
  border-bottom: 2px solid #dedede;
}
/* セレクトボックス */
/*絞り込み*/
.is-hide {
  display: none; /*非表示*/
}

.title {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 10px;
}

.checkAll {
  display: inline-block;
  margin-bottom: 10px;
  color: #00abea;
}

.list {
  display: flex;
  list-style-type: none;
}

.item {
  margin-bottom: 20px;
}
.item:not(:last-child) {
  margin-right: 20px;
}

.label {
  cursor: pointer;
}

.text {
  font-weight: bold;
}
.list_item {
  float: left;
  width: 50%;
}

/* 検索窓 */
.search_container {
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  padding: 3px 10px;
  border-radius: 20px;
  width: 300px;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 20px;
}
.search_container input[type="text"] {
  border: none;
  height: 2em;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"] {
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  border-radius: 20%;
  background: #3879d9;
  color: #fff;
  outline: none;
  width: 2em;
  height: 2em;
}
/* 画面幅800px以下の設定 */
@media screen and (max-width: 800px) {
  /*mainコンテンツ*/
  #attend-main {
    float: none;
    width: auto;
  }

  /*main*/
  #attend-main {
    padding: 0 !important;
  }
}
/*画面幅480px以下の設定*/
@media screen and (max-width: 480px) {
  /*メインコンテンツ*/
}

/*attend画面
---------------------------------------------------------------------------*/

/*contactDetail画面
---------------------------------------------------------------------------*/
#contact-detail-main {
  position: relative;
  float: right; /*contact-detail-main右側に回り込み*/
  width: 70%; /*幅*/
  overflow: hidden;
  padding-top: 30%; /*コンテンツ上にあける余白*/
  text-align: center;
}
#contact-detail-main h2 {
  font-size: 30px;
  text-align: center;
}
#contact-date {
  position: absolute;
  width: 50%;
  left: 0;
  right: 0;
  margin: auto;
}
#target {
  border: none;
  width: 80%;
  font-size: 20px;
  text-align: center;
}
#next-prev-button {
  margin-left: auto;
  margin-right: auto;
}
#next-prev-button button {
  cursor: pointer;
  background: #b78d4a;
  color: #fff;
  border: 1px solid #b78d4a;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  margin: auto;
  margin-bottom: 20px;
}
#prev {
  float: left;
}
#next {
  float: right;
}
#contact-book {
  display: block;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
}
.contact-book-table {
  margin: auto;
  table-layout: fixed;
  background-color: #fff;
}
.table-col-1,
.table-col-4,
.table-col-8,
.table-col-11 {
  width: 20px;
  text-align: center;
  vertical-align: middle;
  writing-mode: tb-rl;
}
.table-col-2,
.table-col-9 {
  width: 50px;
}
.table-col-3,
.table-col-6,
.table-col-7,
.table-col-10,
.table-col-13 {
  width: 0px;
}
.table-col-5,
.table-col-12 {
  width: auto;
}
.time {
  width: 68px;
}
.food-text,
.info-text,
.writer-text {
  width: 100%;
}
/* 画面幅800px以下の設定 */
@media screen and (max-width: 800px) {
  /*mainコンテンツ*/
  #contact-detail-main {
    float: none;
    width: auto;
  }

  /*main*/
  #contact-detail-main {
    padding: 0 !important;
  }
}
/*画面幅480px以下の設定*/
@media screen and (max-width: 480px) {
  /*メインコンテンツ*/
}
/*contactDetail画面
---------------------------------------------------------------------------*/

/*contactUpdate画面
---------------------------------------------------------------------------*/
#contact-update-main {
  position: relative;
  float: right; /*contact-update-main右側に回り込み*/
  width: 70%; /*幅*/
  overflow: hidden;
  padding-top: 30%; /*コンテンツ上にあける余白*/
  text-align: center;
}
#contact-update-main h2 {
  font-size: 30px;
  text-align: center;
}
.parent-table {
  margin: auto;
  table-layout: fixed;
  background-color: #fff;
}
.line-2 {
}
.input-page-table {
}

/* 画面幅800px以下の設定 */
@media screen and (max-width: 800px) {
  /*mainコンテンツ*/
  #contact-update-main {
    float: none;
    width: auto;
  }

  /*main*/
  #contact-update-main {
    padding: 0 !important;
  }
}
/*画面幅480px以下の設定*/
@media screen and (max-width: 480px) {
  /*メインコンテンツ*/
}
/*contactUpdate画面
---------------------------------------------------------------------------*/
