{% load static %}
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ここにサイト説明を入れます">
    <meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/slide.css' %}">
    <link rel="stylesheet" href="{% static 'css/sugahara.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC:700">
    <script type="text/javascript" src="{% static 'js/openclose.js' %}"></script>
</head>

<body id="login-top">
    <!-- 背景 -->
    <div id="top-background"></div>
    <div id="login-main">
        <div id="login-logo">
            <img src="{% static 'images/CHILink.jpg' %}" alt="">
        </div>

        <div>
            <h1>ログイン</h1>
        </div>
        <form action="{% url 'account_login' %}" method="post">
        {% csrf_token %}
        
        {{form.as_p}}

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %}
        <button class="btn btn-border" type="submit">Log in</button>
        </form>
    </div>
    <div id="login-footer">
        <footer>
            <small>Copyright&copy; <a href="base.html">SAMPLE KIDS CLUB</a> All Rights Reserved.</small>
            <span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
        </footer>
    </div>

</body>

</html>