{% extends 'base.html' %}
{% load static %}

{% block title %}幼稚園・保育園・キッズクラブ向け 無料ホームページテンプレート tp_kids3{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/sugahara.css' %}">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="{% static 'js/sugahara.js' %}"></script>
{% endblock %}

{% block head_slide%}
<!--スライドショー-->
<aside id="mainimg">
    <div>
        <img src="{% static 'images/0.png' %}" alt="" id="slide0">
        <img src="{% static 'images/1.jpg' %}" alt="" id="slide1">
        <img src="{% static 'images/2.jpg' %}" alt="" id="slide2">
        <img src="{% static 'images/3.jpg' %}" alt="" id="slide3">
    </div>
</aside>
{% endblock %}


{% block main_contents%}
<div id="attend-main">
    <h2>登降園状態</h2>
    <div class="group">
        <div class="title">
            <年齢選択>
        </div>

        <div class="search-box">
            <div class="checkAll">
                <label class="label">
                    <input class="js-check-all" type="checkbox" name="hobby" data-check-all="hobby">
                    <span class="text">All</span>
                </label>
            </div>

            <ul class="js-check-all-target list" data-check-all="hobby">
                <li class="item">
                    <label class="label">
                        <input type="checkbox" name="hobby" value="0歳">
                        <span class="text">0歳児</span>
                    </label>
                </li>
                <li class="item">
                    <label class="label">
                        <input type="checkbox" name="hobby" value="1歳">
                        <span class="text">1歳児</span>
                    </label>
                </li>
                <li class="item">
                    <label class="label">
                        <input type="checkbox" name="hobby" value="2歳">
                        <span class="text">2歳児</span>
                    </label>
                </li>
                <li class="item">
                    <label class="label">
                        <input type="checkbox" name="hobby" value="3歳">
                        <span class="text">3歳児</span>
                    </label>
                </li>
                <li class="item">
                    <label class="label">
                        <input type="checkbox" name="hobby" value="4歳">
                        <span class="text">4歳児</span>
                    </label>
                </li>
                <li class="item">
                    <label class="label">
                        <input type="checkbox" name="hobby" value="5歳">
                        <span class="text">5歳児</span>
                    </label>
                </li>
            </ul>
            <div class="group">
                <div class="title">
                    <登園状態>
                </div>
                <div class="search-box">
                    <div class="checkAll">
                        <label class="label">
                            <input class="js-check-all" type="checkbox" name="area" data-check-all="area">
                            <span class="text">All</span>
                        </label>
                    </div>
                    <ul class="js-check-all-target list" data-check-all="area">
                        <li class="item">
                            <label class="label">
                                <input type="checkbox" name="area" value="登園">
                                <span class="text">登園</span>
                            </label>
                        </li>
                        <li class="item">
                            <label class="label">
                                <input type="checkbox" name="area" value="降園">
                                <span class="text">降園</span>
                            </label>
                        </li>
                        <li class="item">
                            <label class="label">
                                <input type="checkbox" name="area" value="遅刻">
                                <span class="text">遅刻</span>
                            </label>
                        </li>
                        <li class="item">
                            <label class="label">
                                <input type="checkbox" name="area" value="早退">
                                <span class="text">早退</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 検索box -->
    <form action="" method="get" class="search_container">
        <input name="query" type="text" id="search-text" onkeyup="myFunction()"
            size="30" placeholder="検索">
    </form>

    <!-- 園児リスト -->


    <ul id="child-list">

        <table border="2" style="border-collapse: collapse; border-color: #000">
            <tr>
                <th class="child-name">
                    園児名
                </th>
                <th class="child-name">
                    よみがな(姓名)
                </th>
                <th class="child-name">
                    登降園状態
                </th>
            </tr>
            {% for enji in object_list %}
            　　　　　
            <tr>
                <td class="class-name">
                    <li class="list_item" data-hobby="{{enji.Age}}" data-area="{{enji.t001_fd11_kindergaten}}">
                        {{enji.get_full_name}}
                    </li>
                </td>
                <td class="child-name">
                    <li class=" list_item" data-hobby="{{enji.Age}}" data-area="{{enji.t001_fd11_kindergaten}}">
                        {{enji.get_full_name_kana}}
                    </li>
                </td>

                <td class="child-name">


                    <li class=" list_item" name="aa" data-hobby="{{enji.Age}}"
                        data-area="{{enji.t001_fd11_kindergaten}}" value="{{enji.t001_fd11_kindergaten}}">
                        {% if enji.t001_fd11_kindergaten %}
                        登園
                        {% else %}
                        降園
                        {% endif %}
                    </li>

                </td>
                <form method="POST">
                    {% csrf_token %}
                    <td class="select">

                        <button type="submit" name="update_button" value="{{ enji.t001_pk01_children_id }}"
                            class="select-btn">切替</button>

                    </td>
                </form>
            </tr>
            {% empty %}
            {% endfor %}
        </table>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" name="all_true_button" value="pomeranian" class="select-btn">全て登園</button>
            <button type="submit" name="all_false_button" value="pomeranian" class="select-btn">全て降園</button>
        </form>
    </ul>


</div>
{% endblock %}
<script>

</script>

<!--/main-->

<!--/contents-->

{% block animation %}
<!--移動するアニメーション画像-->
<img src="{% static 'images/animation1.png' %}" alt="" id="animation1">

<!--小さな端末用（800px以下端末）更新情報-->
<script type="text/javascript">
    if (OCwindowWidth() <= 800) {
        open_close("newinfo_hdr", "newinfo");
    }
</script>
{% endblock %}