{% extends 'base.html' %}
{%load static %}
<!--連絡帳園児リスト画面-->
{% block head %}
<link rel="stylesheet" href="{% static 'css/matsuoka.css' %}">
{% endblock %}
{% block title %}連絡帳園児リスト-CONTACT{% endblock %}

{% block head_slide%}

    <!--スライドショー-->
    <aside id="mainimg">
        <div>
            <img src="{% static 'images/1.jpg' %}" alt="" id="slide0">
            <img src="{% static 'images/1.jpg' %}" alt="" id="slide1">
            <img src="{% static 'images/2.jpg' %}" alt="" id="slide2">
            <img src="{% static 'images/3.jpg' %}" alt="" id="slide3">
        </div>
    </aside>
{% endblock %}
{% block main_contents%}

<div id="main">
    <h2>園児選択</h2>
    <!-- 閲覧/記入の切り替え -->
    <div class="switchArea">
        <input type="checkbox" id="switch1">
        <label for="switch1"><span></span></label>
        <div id="swImg"></div>
    </div>
    

    <a><input type="checkbox" name="class" id="age_0" value="1"><label for="age_0">0歳</label></a>
    <a><input type="checkbox" name="class" id="age_1" value="2"><label for="age_1">1歳</label></a>
    <a><input type="checkbox" name="class" id="age_2" value="3"><label for="age_2">2歳</label></a>
    <a><input type="checkbox" name="class" id="age_3" value="4"><label for="age_3">年少</label></a>
    <a><input type="checkbox" name="class" id="age_4" value="5"><label for="age_4">年中</label></a>
    <a><input type="checkbox" name="class" id="age_5" value="6"><label for="age_5">年長</label></a>

    <!-- 検索box -->
    <form>
        <input type="search">
        <button type="submit">検索</button>
    </form>

    <ul>
        <li><a href="#">Aくん</a></li>
        <li><a href="#">Bちゃん</a></li>
        <li><a href="#">Cくん</a></li>
    </ul>
</div>
{%endblock%}

{% block sub_contents%}
    <nav class="box1">
        <h2>連絡帳関連</h2>
        <ul class="submenu">
            <li><a href="#">追加</a></li>
            <li><a href="#">編集</a></li>
            <li><a href="#">削除</a></li>
        </ul>
    </nav>
{% endblock %}
