{% extends 'base.html' %}
{%load static %}
<!--連絡帳園児リスト画面-->
{% block head %}
<link rel="stylesheet" href="{% static 'css/sugahara.css' %}">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="{% static 'js/matsuoka.js' %}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
{% endblock %}

{% block title %}連絡帳園児リスト-CONTACT{% endblock %}

{% block head_slide%}
<!--スライドショー-->
<aside id="mainimg">
    <div>
        <img src="{% static 'images/0.png' %}" alt="" id="slide0">
        <img src="{% static 'images/1.jpg' %}" alt="" id="slide1">
        <img src="{% static 'images/2.jpg' %}" alt="" id="slide2">
        <img src="{% static 'images/3.jpg' %}" alt="" id="slide3">
    </div>
</aside>
{% endblock %}

{% block main_contents%}
<div class="contact-top-main">
    <h2>園児選択</h2>
    <!-- 検索ボックス Django-->
    <form action="" method="get" class="search_container">
        <input name="query" value="{{ request.GET.query }}" type="text" id="search-text" onkeyup="myFunction()"
            size="30" placeholder="検索">
    </form>
    <!-- 園児リスト -->
    <ul class="child-list">
        <table border="2" style="border-collapse: collapse; border-color: #000">
            <tr>
                <th class="class-name">
                    クラス名
                </th>
                <th class="child-name">
                    園児名
                </th>
                <th class="child-name">
                    よみがな(姓名)
                </th>
            </tr>
            {% for iiii in object_list %}
            <tr>
                <td class="class-name">
                    <li class="list_item" data-hobby="age4">
                        <p>{{ iiii.t001_fk01_class_id }}</p>
                    </li>
                </td>
                <td class="child-name">
                    <li class=" list_item" data-hobby="age4">
                        <p>{{ iiii.get_full_name }}</p>
                    </li>
                </td>
                <td class="child-name">
                    <li class=" list_item" data-hobby="age4">
                        <p>{{iiii.get_full_name_kana}}</p>
                    </li>
                </td>
                <td class="select">
                    {% if user.detail_buyer %}
                    <a href="{%url 'main:contactUpdate'%}?id={{iiii.t001_pk01_children_id}}&num={% now "Ymd"%}" class="select-btn">記入</a>
                    {% else %}
                    <a href="/contactUpdate_oya/{% now " Ymd"%}{{iiii.t001_pk01_children_id}}?num={% now "Ymd"%}" class="select-btn">記入</a>
                    {% endif %}
                    <a href="{%url 'main:contactDetail'%}?id={{iiii.t001_pk01_children_id}}&num={% now "Ymd"%}" class="select-btn">閲覧</a>
                    <p></p>
                </td>
            </tr>
            {% empty %}
            {% endfor %}
        </table>
    </ul>
</div>
{% endblock %}

{% block sub_contents%}
<nav class="box1">
    <h2>連絡帳関連</h2>
    <ul class="submenu">

        <li><a href="{% url 'main:contactDetail' %}">連絡帳記入</a></li>
    </ul>
</nav>
{% endblock %}