{% extends 'base.html' %}
{% load static %}

{% block title %}CHIlink{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/sugahara.css' %}">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/cupertino/jquery-ui.css">
<script type="text/javascript" src="{% static 'js/planlistDetail.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}


{% block head_slide%}
<!--スライドショー-->
<aside id="mainimg">
    <div>
        <img src="{% static 'images/0.png' %}" alt="" id="slide0">
        <img src="{% static 'images/1.jpg' %}" alt="" id="slide1">
        <img src="{% static 'images/2.jpg' %}" alt="" id="slide2">
        <img src="{% static 'images/3.jpg' %}" alt="" id="slide3">
    </div>
</aside>
{% endblock %}


{% block main_contents%}
<div id="contact-update-main">
    <h2>今日の連絡帳</h2>
    <div id="">
        {{ form.t007_fd01_date}}
    </div>
    <div id="next-prev-button">

    </div>
    <div id="contact-book">
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form.t007_fk01_children_id}}
            {{ form.t007_pk01_contactbook_id }}
            <table border="1" class="contact-book-table">
                <!-- 日付 -->
                <!-- <tr>
                                                <th>日時</th><td colspan="12"><input type="datetime" name="data"></td>
                                            </tr> -->
                <colgroup class="table-col-1">
                </colgroup>
                <colgroup>
                    <col class="table-col-2">
                    <col class="table-col-3">
                    <col class="table-col-4">
                    <col class="table-col-5">
                    <col class="table-col-6">
                    <col class="table-col-7">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th colspan="6">
                            園から
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th rowspan="3">
                            食事
                        </th>
                        <td colspan="3">
                            時刻
                        </td>
                        <td colspan="3">
                            献立
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" rowspan="2">
                            <p>昼食</p>
                            <!-- 昼食時間 -->
                            {{ form.t007_fd16_lunch_time }}
                        </td>
                        <td colspan="3" rowspan="2">
                            <!-- 献立 -->
                            {{ form.t007_fd15_lunch_contents }}
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <th>
                            睡眠
                        </th>
                        <td colspan="6">
                            <p>お昼寝時間</p>
                            <!-- 昼寝時間 -->
                            <!-- <input type="time" name="data"step="1">~ -->
                            {{ form.t007_fd27_bed_time }} ~
                            {{ form.t007_fd17_wakeup_time }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            きげん
                        </th>
                        <td colspan="6">
                            {{ form.t007_fd18_mood }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            排便
                        </th>
                        <td colspan="6">
                            {{ form.t007_fd20_defecation_status }}
                            <br>
                            回数：{{ form.t007_fd19_defecation_times }}回
                        </td>
                    </tr>
                    <tr>
                        <th>
                            沐浴
                        </th>
                        <td colspan="2" nowrap>
                            {{ form.t007_fd21_bathing }}
                        </td>
                        <th>
                            検温
                        </th>
                        <td colspan="3">
                            {{ form.t007_fd23_temperature_time }}<br>
                            {{ form.t007_fd22_temperature }}℃
                        </td>
                    </tr>
                    <tr>
                        <th>
                            連絡事項
                        </th>
                        <td colspan="6">
                            <!-- 備考欄 -->
                            {{ form.t007_fd24_infomation }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            記入者
                        </th>
                        <td colspan="6">
                            {{ form.t007_fd28_person }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <button type="submit" name="create" value="作成" class="select-btn">作成</button>
        </form>
    </div>
</div>
{% endblock %}

{% block animation %}
<!--移動するアニメーション画像-->
<img src="{% static 'images/animation1.png' %}" alt="" id="animation1">

<!--小さな端末用（800px以下端末）更新情報-->
<script type="text/javascript">
    if (OCwindowWidth() <= 800) {
        open_close("newinfo_hdr", "newinfo");
    }
</script>
<!--メニューの開閉処理条件設定　800px以下-->
<script type="text/javascript">
    if (OCwindowWidth() <= 800) {
        $("s").html('')
    }
</script>

{% endblock %}

{% block sub_contents%}
<!-- 関連項目 -->
<nav class="box1">
    <h2>連絡帳関連</h2>
    <ul class="submenu">

        <li><a href="{% url 'main:contactTop' %}">園児選択画面</a></li>
        <!-- <li><a href="#">追加</a></li>
        <li><a href="#">編集</a></li>
        <li><a href="#">削除</a></li> -->
    </ul>
</nav>
{% endblock %}