{% extends 'base.html' %}
{% load static %}

{% block title %}CHIlink{% endblock %}

{% block head_slide%}
<!--スライドショー-->
<aside id="mainimg">

	<img src="{% static 'images/0.png' %}" alt="" id="slide0">
	<img src="{% static 'images/1.jpg' %}" alt="" id="slide1">
	<img src="{% static 'images/2.jpg' %}" alt="" id="slide2">
	<img src="{% static 'images/3.jpg' %}" alt="" id="slide3">
	</div>
</aside>
{% endblock %}


{% block main_contents%}

<div id="main">
	<section id="new">
		<h2 id="newinfo_hdr" class="close">トピックス</h2>
		<dl id="newinfo">
			{% for blog in object_list %}
			<dt>{{ blog.t013_fd06_createdata }}</dt>
			<dd><a href="{% url 'main:blogDetail' %}?id={{blog.t013_pk01_blog_id}}">{{ blog.t013_fd01_title }}<span
						class="newicon">NEW</span></a></dd>
			{% empty %}
			<dt>トピックスを追加してください</dt>
			<!-- <dd>{{ user.email }}</dd> -->
			{% endfor %}
		</dl>
		<h2 id="newinfo_hdr" class="close">近日の予定入れたい</h2>
		<dl id="newinfo">
			{% for soon in object_list %}
			<dt>{{ soon.t013_fd06_createdata }}</dt>
			<dd><a href="{% url 'main:blogDetail' %}?id={{soon.t013_pk01_blog_id}}">{{ soon.t013_fd01_title }}<span
						class="newicon">NEW</span></a></dd>
			{% empty %}
			<dt>ブログを追加してください</dt>
			<!-- <dd>{{ user.email }}</dd> -->
			{% endfor %}
		</dl>
	</section>
</div>

{% endblock %}

<!--/main-->

{% block sub_contents%}
<nav class="box1">
	<h2>MENU</h2>
	<ul class="submenu">
		{% if user.detail_buyer %}
		<li><a href="{% url 'main:blogCreate' %}">ブログを作成</a></li>
		{% endif %}
		<li><a href="#">サンプルメニュー</a></li>
	</ul>
</nav>

{% endblock %}
<!--/box1-->

<!--/sub-->

<!--/contents-->

<!--/container-->

{% block animation %}
<!-- 移動するアニメーション画像-->
<!-- <img src="{% static 'images/animation1.png' %}" alt="" id="animation1"> -->

<!--小さな端末用（800px以下端末）更新情報-->
<!-- <script type="text/javascript">
	if (OCwindowWidth() <= 800) {
		open_close("newinfo_hdr", "newinfo");
	}
</script> -->
{% endblock %}