{%extends 'base.html'%}
{%load static %}

{% block title %}位置情報-LOCATION{% endblock %}

{% block head_slide%}
<!--スライドショー-->
<aside id="mainimg">
	<div>
		<img src="{% static 'images/1.jpg' %}" alt="" id="slide0">
		<img src="{% static 'images/1.jpg' %}" alt="" id="slide1">
		<img src="{% static 'images/2.jpg' %}" alt="" id="slide2">
		<img src="{% static 'images/3.jpg' %}" alt="" id="slide3">
	</div>
</aside>
{% endblock %}

{% block sub_contents%}
    <nav class="box1">
        <h2>位置情報関連</h2>
        <ul class="submenu">
            <li><a href="#">詳細</a></li>
            <li><a href="#">追加</a></li>
            <li><a href="#">編集</a></li>
            <li><a href="#">削除</a></li>
        </ul>
    </nav>
{% endblock %}
