{%extends 'base.html'%}
{%load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/suda.css' %}">

<meta charset="utf-8">
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- jQuery UI -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<script type="text/javascript" src="{% static 'js/planlistDetail.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/suda.css}">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/cupertino/jquery-ui.css">
<title>予定確認</title>
{% endblock %}

{% block head_slide%}

<!--スライドショー-->
<aside id="mainimg">
    <div>
        <img src="{% static 'images/0.png' %}" alt="" id="slide0">
        <img src="{% static 'images/1.jpg' %}" alt="" id="slide1">
        <img src="{% static 'images/2.jpg' %}" alt="" id="slide2">
        <img src="{% static 'images/3.jpg' %}" alt="" id="slide3">
    </div>
</aside>
{% endblock %}

{% block main_contents%}
<div id="plmain">
    <div id="planListDetailheader">
        <form action="window.alert(target)">
            <label class="cal-wrap"><input type="text" placeholder="カレンダー表示" id="target" readonly="readonly"></label>

        </form>


    </div>
    {% for iiii in object %}
    <!--<div id=" planListDetailCaption"> -->
    <h2 class="heading07" data-en="event" style="font-size: 40px;">{{iiii.t008_fd01_event}}</h2>
    <P></P>

    <div class="remarksBox2">
        <div style="color: rgba(14, 27, 5, 0.555);">

            <p style="border-bottom: 2px dashed rgb(0, 0, 0);">-備考欄-</p>
        </div>
        <p>{{iiii.t008_fd02_remarks}}</p>

    </div>
    {% empty %}
    <h2 class="heading07" data-en="nothing">予定がありません </h2>
    {% endfor %}
    <!-- ページネーション処理 -->
    {% if is_paginated %}
    <ul class="pagination">
        <!-- 前ページへのリンク -->
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link"
                href="{{ request.path }}?num={{ request.GET.num }}&page={{ page_obj.previous_page_number }}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        <!-- ページ数表示 -->
        {% for page_num in page_obj.paginator.page_range %}
        {% if page_obj.number == page_num %}
        <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link"
                href="{{ request.path }}?num={{ request.GET.num }}&page={{ page_num }}">{{ page_num }}</a></li>
        {% endif %}
        {% endfor %}

        <!-- 次ページへのリンク -->
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link"
                href="{{ request.path }}?num={{ request.GET.num }}&page={{ page_obj.next_page_number }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
    {% endif %}

</div>


{%endblock%}

{% block sub_contents%}
<nav class="box1">
    <h2>予定表関連</h2>
    <ul class="submenu">
        <li><a href="{% url 'main:planList' %}">カレンダー</a></li>
        <div id="disp">
            <li><a href="{% url 'main:planListAdd' %}">行事の追加</a></li>
            <li><a href="{% url 'main:planListUpdate' %}">編集</a></li>
            <li><a href="{% url 'main:planListDelete' %}">削除</a></li>
        </div>
    </ul>
</nav>
{% endblock %}



</html>