{%extends 'base.html'%}
{%load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/suda.css' %}">
<meta charset="utf-8">
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/sugahara.js' %}"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<!-- <link rel="stylesheet" href="{% static 'css/sugahara.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/suda.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<script type="text/javascript" src="{% static 'js/planlistDetail.js' %}"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/cupertino/jquery-ui.css">

{% endblock %}

{% block head_slide%}

<!--スライドショー-->

<aside id="mainimg">
    <div>
        <img src="{% static 'images/1.jpg' %}" alt="" id="slide0">
        <img src="{% static 'images/1.jpg' %}" alt="" id="slide1">
        <img src="{% static 'images/2.jpg' %}" alt="" id="slide2">
        <img src="{% static 'images/3.jpg' %}" alt="" id="slide3">
    </div>
</aside>

{% endblock %}

{% block main_contents%}
<div id="attend-main">
    <div id="header">

        <!-- <div id="attend-main"> -->
        <h2>予定表追加</h2>
        <div class="group">
            <div class="head">
                <div class="title">年齢：</div>
                <div class="checkAll">
                    <label class="label">
                        <input class="js-check-all" type="checkbox" name="" data-check-all="hobby">
                        <span class="text">All</span>
                    </label>
                </div>
                <ul class="js-check-all-target list" data-check-all="hobby">
                    <li class="item">
                        <label class="label">
                            <input type="checkbox" name="hobby" value="age0">
                            <span class="text">0歳児</span>
                        </label>
                    </li>
                    <li class="item">
                        <label class="label">
                            <input type="checkbox" name="hobby" value="age1">
                            <span class="text">1歳児</span>
                        </label>
                    </li>
                    <li class="item">
                        <label class="label">
                            <input type="checkbox" name="hobby" value="age2">
                            <span class="text">2歳児</span>
                        </label>
                    </li>
                    <li class="item">
                        <label class="label">
                            <input type="checkbox" name="hobby" value="age3">
                            <span class="text">3歳児</span>
                        </label>
                    </li>
                    <li class="item">
                        <label class="label">
                            <input type="checkbox" name="hobby" value="age4">
                            <span class="text">4歳児</span>
                        </label>
                    </li>
                    <li class="item">
                        <label class="label">
                            <input type="checkbox" name="hobby" value="age5">
                            <span class="text">5歳児</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <form action="window.alert(target)" method="post" class="planlistDetailCenter" style="height: 30px;">
        <p>月日:<input type="text" placeholder="日付検索" id="target" text-align="center"></p>
        <div class="visiblity">
            <div id="next-prev-button">
                <button id="prev" onclick="prev()">‹</button>
                <button id="next" onclick="next()">›</button>
            </div>
        </div>
        <p>行事名:<input type="textbox" name="planName" class="planListAddInputBox"></p>
        備考<br>
        <textarea class="remarksBox1" name="remarks" rows="6" cols="40"></textarea><br>
        <div class="planlistAddButton">
            <br><input type="submit" value="削除" class="planlistAddButton">
        </div>
    </form>
</div>




<!--予定の表示-->

{%endblock%}

{% block sub_contents%}
<nav class="box1">
    <h2>予定表関連</h2>
    <ul class="submenu">
        <li><a href="#">詳細</a></li>
        <li><a href="{% url 'main:planListAdd' %}">行事の追加</a></li>
        <li><a href="#">編集</a></li>
        <li><a href="{% url 'main:planListDelete' %}">削除</a></li>
    </ul>
</nav>
{% endblock %}

</html>