{%extends 'base.html'%}
    {%load static %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'css/suda.css' %}">
        
            <meta charset="utf-8">
            <!-- jQuery -->
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <!-- jQuery UI -->
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
            <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
            <script type="text/javascript" src="{% static 'js/planlistDetail.js' %}"></script>
            <link rel="stylesheet" href="{% static 'css/suda.css}">
            <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/cupertino/jquery-ui.css">
    {% endblock %}

    {% block head_slide%}

        <!--スライドショー-->
        <aside id="mainimg">
            <div>
                <img src="{% static 'images/1.jpg' %}" alt="" id="slide0">
                <img src="{% static 'images/1.jpg' %}" alt="" id="slide1">
                <img src="{% static 'images/2.jpg' %}" alt="" id="slide2">
                <img src="{% static 'images/3.jpg' %}" alt="" id="slide3">
            </div>
        </aside>
    {% endblock %}

    {% block main_contents%}
    <div id="main">
        <div id="header">
            <form action="window.alert(target)" method="post" class="planlistDetailCenter">
            <input type="text" placeholder="カレンダー表示" id="target" text-align="center">
            </form>
            <div id="next-prev-button">
                <button id="prev" onclick="prev()">‹</button>
                <button id="next" onclick="next()">›</button>
            </div>
        </div>
        <div id="word">
            <h2>今日の行事</h2>
            <h3>備考</h3>
        </div>
    </div>
    {%endblock%}
</html>