{%extends 'base.html'%}
{%load static %}
<!--予定表画面-->
{% block head %}
<link rel="stylesheet" href="{% static 'css/suda.css' %}">
{% endblock %}
{% block head_slide%}
<div class="ta1 ">



    <!--スライドショー-->
    <aside id="mainimg">
        <div>
            <img src="{% static 'images/1.jpg' %}" alt="" id="slide0">
            <img src="{% static 'images/1.jpg' %}" alt="" id="slide1">
            <img src="{% static 'images/2.jpg' %}" alt="" id="slide2">
            <img src="{% static 'images/3.jpg' %}" alt="" id="slide3">
        </div>
    </aside>
    {% endblock %}

    {% block main_contents%}

    <!-- xxx年xx月を表示 -->
    <h1 id="header"></h1>
    <script type="text/javascript" src="{% static 'js/planlist.js' %}"></script>
    </script>
    <!-- ボタンクリックで月移動 -->
    <div id="next-prev-button">
        <button id="prev" onclick="prev()">‹</button>
        <button id="next" onclick="next()">›</button>
    </div>
    <!-- カレンダー -->
    <div id="calendar"></div>
    {%endblock%}
</div>
