{% extends 'base.html' %}
{% load static %}

{% block title %}幼稚園・保育園・キッズクラブ向け 無料ホームページテンプレート tp_kids3{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/sugahara.css' %}">
{% endblock %}

{% block head_slide%}
<!--スライドショー-->
<aside id="mainimg">
    <div>
        <img src="{% static 'images/1.jpg' %}" alt="" id="slide0">
        <img src="{% static 'images/1.jpg' %}" alt="" id="slide1">
        <img src="{% static 'images/2.jpg' %}" alt="" id="slide2">
        <img src="{% static 'images/3.jpg' %}" alt="" id="slide3">
    </div>
</aside>
{% endblock %}


{% block main_contents%}
<div id="tag-main">
    <h1>モード選択</h1>
    <div class="select-mode">
        <input type="radio" id="go-school" name="mode" value="go-school" class="go-school" checked>
        <label for="go-school">
            <i class="fab fa-go-school"></i> 登園モード
        </label>
        <input type="radio" id="go-home" name="mode" value="go-home" class="go-home">
        <label for="go-home">
            <i class="fab fa-apple"></i> 降園モード
        </label>
    </div>
    <div class="box1">
        <p>ここにタッチしてください</p>
    </div>
</div>
{% endblock %}

<!--/main-->

<!--/contents-->

{% block animation %}
<!--移動するアニメーション画像-->
<img src="{% static 'images/animation1.png' %}" alt="" id="animation1">

<!--小さな端末用（800px以下端末）更新情報-->
<script type="text/javascript">
    if (OCwindowWidth() <= 800) {
        open_close("newinfo_hdr", "newinfo");
    }
</script>
{% endblock %}