{% extends 'base.html' %}

{% block title %}Log In | Help Child{% endblock %}

<!-- {% block active_login %}active{% endblock %} -->
{% block head %}
<link rel="stylesheet" href="{% satic css/matsuoka.css %}">
{% endblock %}


{% block contents %}
<h1>ログイン</h1>

    <div>
        <label for="username">ユーザーネーム:</label><br>
        <input type="text" id="username" name="username">
    </div>

    <div>
        <label for="pass">パスワード:</label><br>
        <input type="password" id="pass" name="password" required>
    </div>
            <button class="btn btn-primary" type="submit">ログイン</button>

{% endblock %}