{% load static %}
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ここにサイト説明を入れます">
    <meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/slide.css' %}">
    <link rel="stylesheet" href="{% static 'css/sugahara.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC:700">
    <script type="text/javascript" src="{% static 'js/openclose.js' %}"></script>
</head>

<body id="login-top">
    <!-- 背景 -->
    <div id="top-background"></div>
    <div id="login-main">
        <div id="login-logo">
            <img src="{% static 'images/CHILink.jpg' %}" alt="">
        </div>

        <div>
            <h1>ログイン</h1>
        </div>

        <!-- ユーザーネーム入力 -->
        <div id="user-name">
            <label for="username">ユーザーネーム:</label><br>
            <input type="text" id="username" name="username">
        </div>

        <!-- パスワード入力 -->
        <div id="user-ps">
            <label for="pass">パスワード:</label><br>
            <input type="password" id="pass" name="password" required>
        </div>
        <a href="" class="btn btn-border">log in</a>
    </div>
    <div id="login-footer">
        <footer>
            <small>Copyright&copy; <a href="base.html">SAMPLE KIDS CLUB</a> All Rights Reserved.</small>
            <span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
        </footer>
    </div>

</body>

</html>